# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables and secrets
.env

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db
